body {
    height: 100vh;
    overflow: scroll;
}

.body {
    height: calc(100vh - 56px);
    position: relative;
}

.bg-black {
    background-color: black;
}

.investinder-header {
    padding: 0 20px;
    height: 56px;
}

.investinder-header .navbar-brand {
    display: flex;
    align-items: center;
}

.brand-name {
    margin-bottom: 0;
    color: white;
    font-weight: bold;
    margin-left: 4px;
}

.next-page-icon {
    display: block;
    width: 9.4px;
    height: 16px;
    mask: url(../icons/arrow.svg);
    -webkit-mask: url(../icons/arrow.svg);
    mask-size: cover;
    -webkit-mask-size: cover;
    background-size: 9.4px 16px;
    background: #FFC11E;
}

.phone-icon {
    display: block;
    width: 28.79px;
    height: 26.8px;
    mask: url(../icons/phone.svg);
    -webkit-mask: url(../icons/phone.svg);
    mask-size: cover;
    -webkit-mask-size: cover;
    background-size: 28.79px 26.8px;
    background: #545454;
}

.whatsapp-icon {
    display: block;
    width: 29px;
    height: 26px;
    mask: url(../icons/whatsapp.svg);
    -webkit-mask: url(../icons/whatsapp.svg);
    mask-size: cover;
    -webkit-mask-size: cover;
    background-size: 29px 26px;
    background: #545454;
}

.telegram-icon {
    display: block;
    width: 30px;
    height: 24.38px;
    mask: url(../icons/telegram.svg);
    -webkit-mask: url(../icons/telegram.svg);
    mask-size: cover;
    -webkit-mask-size: cover;
    background-size: 30px 24.38px;
    background: #545454;
}

.skype-icon {
    display: block;
    width: 27.99px;
    height: 26.07px;
    mask: url(../icons/skype.svg);
    -webkit-mask: url(../icons/skype.svg);
    mask-size: cover;
    -webkit-mask-size: cover;
    background-size: 27.99px 26.07px;
    background: #545454;
}

.eye-icon {
    display: block;
    width: 12px;
    height: 7.84px;
    mask: url(../icons/eye.svg);
    -webkit-mask: url(../icons/eye.svg);
    mask-size: cover;
    -webkit-mask-size: cover;
    background-size: 12px 7.84px;
    background: #545454;
}

.views-icon {
    display: block;
    width: 13px;
    height: 12px;
    mask: url(../icons/views.svg);
    -webkit-mask: url(../icons/views.svg);
    mask-size: cover;
    -webkit-mask-size: cover;
    background-size: 13px 12px;
    background: #CBCBCB;
}

.lock-unlocked-icon {
    display: block;
    width: 9.75px;
    height: 12px;
    mask: url(../icons/unlocked-lock.svg);
    -webkit-mask: url(../icons/unlocked-lock.svg);
    mask-size: cover;
    -webkit-mask-size: cover;
    background-size: 9.75px 12px;
    background: #CBCBCB;
}

.back-arrow {
    display: block;
    width: 9.4px;
    height: 16px;
    mask: url(../icons/arrow.svg);
    -webkit-mask: url(../icons/arrow.svg);
    mask-size: cover;
    -webkit-mask-size: cover;
    background-size: 9.4px 16px;
    background: #545454;
    transform: rotate(-180deg);
}

.check-icon {
    display: block;
    width: 20px;
    height: 14.55px;
    mask: url(../icons/check.svg);
    -webkit-mask: url(../icons/check.svg);
    mask-size: cover;
    -webkit-mask-size: cover;
    background-size: 20px 14.55px;
    background-color: white;
}

.filter-icon {
    display: block;
    width: 19px;
    height: 18.9px;
    mask: url(../icons/filter.svg);
    -webkit-mask: url(../icons/filter.svg);
    mask-size: cover;
    -webkit-mask-size: cover;
    background-size: 19px 19px;
    background: #545454;
}

.vip-icon {
    display: block;
    width: 20px;
    height: 19.08px;
    mask: url(../icons/vip.svg);
    -webkit-mask: url(../icons/vip.svg);
    mask-size: cover;
    -webkit-mask-size: cover;
    background-size: 20px 19.08px;
    background: #FFC11E;
}

.letter-icon {
    display: block;
    width: 28.22px;
    height: 20.16px;
    mask: url(../icons/letter.svg);
    -webkit-mask: url(../icons/letter.svg);
    mask-size: cover;
    -webkit-mask-size: cover;
    background-size: 28.22px 20.16px;
    background-color: white;
}

.select-arrow-icon {
    display: block;
    width: 11px;
    height: 9px;
    mask: url(../icons/select-arrow.svg);
    -webkit-mask: url(../icons/select-arrow.svg);
    mask-size: cover;
    -webkit-mask-size: cover;
    background-size: 11px 9px;
    background: #545454;
}

.add-icon {
    display: block;
    width: 13px;
    height: 13px;
    mask: url(../icons/add.svg);
    -webkit-mask: url(../icons/add.svg);
    mask-size: cover;
    -webkit-mask-size: cover;
    background-size: 13px 13px;
    background: #545454;
}

.horse-icon {
    display: block;
    width: 15.48px;
    height: 16.35px;
    mask: url(../icons/horse.svg);
    -webkit-mask: url(../icons/horse.svg);
    mask-size: cover;
    -webkit-mask-size: cover;
    background-size: 15.48px 16.35px;
    background-color: white;
}

.investinder-toggle-icon {
    display: block;
    width: 19px;
    height: 18.26px;
    mask: url(../icons/toggler.svg);
    -webkit-mask: url(../icons/toggler.svg);
    mask-size: cover;
    -webkit-mask-size: cover;
    background-size: 19px 18.26px;
    background-color: white;
}

.investinder-close-icon {
    display: none;
    width: 20px;
    height: 20px;
    mask: url(../icons/close.svg);
    -webkit-mask: url(../icons/close.svg);
    mask-size: cover;
    -webkit-mask-size: cover;
    background-size: 20px 20px;
    background-color: white;
}

.investinder-close-icon.active {
    display: block;
}

.investinder-logo {
    background: linear-gradient(225.5deg, #D04ED6 0.03%, #09203F 99.97%);
    width: 20px;
    height: 20px;
    border-radius: 5px;
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
}

#navigation-page-list {
    height: calc(100vh - 56px);
    background-color: white;
    width: 68vw;
    position: fixed;
    right: 0;
    top: 56px;
    display: none;
    padding-bottom: 25px;
    text-align: right;
    z-index: 9;
}

#navigation-page-list.active {
    display: flex !important;
}

#navigation-page-list a {
    color: #545454;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
}

#navigation-page-list .information a{
    font-size: 14px;
    line-height: 16px;
}

#navigation-page-list .information-block {
    margin-top: 16px;
    padding-right: 33px;
}

.navigation-blocks {
    display: none;
}

.navigation-blocks.active {
    display: block;
}

.navigation-path {
    padding-right: 33px;
    padding-top: 25px;
    padding-bottom: 6px;
}

.navigation-path.yellow-label {
    background: #FFC11E;
    padding-bottom: 16px;
    padding-top: 16px;
}

.navigation-path.blue-label {
    background: #5199FF;
    padding-bottom: 16px;
    padding-top: 16px;
}

#navigation-page-list .navigation-path.blue-label a,
#navigation-page-list .navigation-path.yellow-label a {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    color: white;
}

.find-investor {
    background-image: url("../img/main-page-investors.png");
}

.find-project {
    background-image: url("../img/main-page-projects.png");
}

.find-investor, .find-project {
    height: 50%;
    background-size: calc(100% + 25vw) auto;
    background-position-y: -20px;
    background-repeat: no-repeat;
    color: white;
    text-align: center;
}

.find-investor .block-headliner,
.find-project .block-headliner {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    line-height: 35px;
    margin-bottom: 28px;
    text-transform: uppercase;
}

.find-project .block-headliner {
    margin-bottom: 31px;
}

.find-investor .block-description {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    margin-bottom: 25px;
    text-transform: uppercase;
}

.find-project .block-subdescription,
.find-investor .block-subdescription {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    margin-bottom: 35px;
}

.find-project button,
.find-investor button {
    margin-bottom: 16px;
}

.find-project-block, .find-investor-block {
    background-color: rgba(0,0,0,0.49);
    height: 100%;
}

.find-investor-block {
    padding: 35px 27px 20px 27px;
}

.find-project-block {
    padding: 45px 27px 20px 27px;
}

.investogram-ui-button-blue, .investogram-ui-button-yellow,
.investogram-ui-button-green, .investogram-ui-button-orange {
    border-width: 0;
    display: block;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    width: 220px;
    height: 40px;
    border-radius: 4px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    color: white !important;
    margin: 0 auto;
}

.investogram-ui-button-orange {
    background: #FF7A2F !important;
}

.investinder-ui-button-with-icon i {
    left: 15px;
    top: 8px;
    position: absolute;
}

.investogram-ui-button-blue {
    background: #5199FF !important;
}

.investogram-ui-button-green {
    background: #00DC7D !important;
}

.investogram-ui-button-yellow {
    background: #FFC11E !important;
}

.find-investor .block-sublink,
.find-project .block-sublink {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    color: white;
    text-decoration: underline;
}


.investogram-ui-button-small {
    height: 38px;
    box-shadow: unset;
    width: 263px;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
}

.investinder-radio, .investinder-chekbox-label, .investinder-chekbox {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: pointer;
}

.investinder-radio input[type='radio'],
.investinder-chekbox-label input[type='checkbox'],
.investinder-chekbox input[type='checkbox'] {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

.investinder-checkmark-radio {
    position: absolute;
    top: 4px;
    left: 0;
    width: 16px;
    height: 16px;
    background: white;
    border-radius: 64px;
    border: 2px solid #CBCBCB;
}

.investinder-checkmark-checkbox {
    position: absolute;
    top: 1px;
    left: -16px;
    width: 13px;
    height: 13px;
    background: white;
    border-radius: 4px;
    border: 2px solid #CBCBCB;
}

.investinder-radio:hover input[type='radio'] ~ .investinder-checkmark-radio {
    background-color: rgba(0,0,0,0.1);
}

.investinder-checkmark-radio:after,
.investinder-chekbox-label:after,
.investinder-checkmark-checkbox:after {
    content: "";
    position: absolute;
    display: none;
}

.investinder-radio input:checked ~ .investinder-checkmark-radio:after,
.investinder-chekbox input:checked ~ .investinder-checkmark-checkbox:after {
    display: block;
}

.investinder-chekbox input:checked ~ .investinder-checkmark-checkbox {
    background-color: #5199FF;
}

.investinder-radio .investinder-checkmark-radio:after {
    width: 8px;
    height: 8px;
    top: 2px;
    left: 2px;
    background: #5199FF;
    border-radius: 64px;
}

.investinder-chekbox .investinder-checkmark-checkbox:after {
    left: 3px;
    top: 0;
    width: 3px;
    height: 8px;
    border: solid white;
    border-width: 0 1px 2px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.investinder-form-control-file input[type='file'] {
    display: none;
}

.investinder-form-control-file {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1.5px solid #545454;
    box-sizing: border-box;
    border-radius: 4px;
    width: 100%;
    padding: 9px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    padding-bottom: 11px;
    margin: 13px 0;
    color: #545454;

    transition: background-color 0.3s;
}

.investinder-form-control-file:hover {
    background-color: rgba(0,0,0,0.05);
}

.investinder-form-control-file i {
    margin-right: 5px;
}

.investinder-chekbox-label {
    width: fit-content;
    height: fit-content;
    padding-left: 0;
}

.investinder-chekbox-label input[type=checkbox]{
    left: 20px;
}

.investinder-chekbox-label label {
    padding: 5px;
    background-color: #CBCBCB;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;
    border-radius: 2px;
    display: flex;
    align-items: center;
}

.investinder-chekbox-label input[type='checkbox']:checked ~ label {
    background: transparent;
}

fieldset .investinder-chekbox-label {
    margin-bottom: 12px;
    display: inline-flex;
    margin-right: 12px;
    border-radius: 2px;
}

.investinder-label {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;


    color: #AFAFAF;
}

.investinder-form-text {
    font-family: 'Roboto', sans-serif;
    font-style: italic;
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;

    color: #CBCBCB !important;
}

.cookie-snackbar {
    padding: 30px 20px;
    background: #FF7A2F;
    box-shadow: 0 -4px 4px rgba(0, 0, 0, 0.25);
    position: absolute;
    bottom: 0;
}

.cookie-snackbar p {
    margin-bottom: 0;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    display: flex;
    align-items: center;
    position: relative;

    color: #FFFFFF;
}

.cookie-snackbar .check-icon {
    position: absolute;
    right: -12px;
    bottom: 0;
}

#news-snackbar {
    top: 0;
    position: absolute;
    padding: 15px 20px;
    background: linear-gradient(360deg, #EFC76C 0%, #B58438 100%);
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25), inset 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.investinder-outline-button {
    border: 2px solid #FFFFFF !important;
    box-sizing: border-box;
    border-radius: 4px;
    color: white !important;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 14px;
    display: flex;
    align-items: center;
    text-align: center;
}

.news-snackbar-content {
    position: relative;
}

.news-snackbar-header {
    width: 77.2%;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 19px;

    color: #FFFFFF;
}

.news-snackbar-preview {
    width: 58.6%;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;
    margin-bottom: 0;

    color: #FFFFFF;
}

#news-snackbar-close-icon {
    position: absolute;
    top: 0;
    right: 0;
    display: block;
}

#news-snackbar-detail-button {
    position: absolute;
    right: 0;
    bottom: 0;
    margin-bottom: 0;
}

.title-block {
    position: relative;
    margin-bottom: 24px;
    margin-top: 17px;
}

.block-title-text {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 21px;
    text-transform: uppercase;
    margin-bottom: 0;
    /* identical to box height */

    text-align: center;

    color: #545454;
}

.title-block-return-button {
    position: absolute;
    left: 0;
}

.form-group-with-postfix {
    position: relative;
}

.form-group-with-postfix .input-postfix {
    position: absolute;
    right: 4px;
    margin-top: -29px;
}

.form-group-with-postfix input {
    padding-right: 25%;
}

.form-group-select {
    position: relative;
}

.form-group-select .select-arrow-icon {
    position: absolute;
    bottom: 12px;
    right: 4px;
    transition: all 0.3s;
}

span.required {
    color: red;
    position: absolute;
    margin-left: 5px;
    top: 0;
    right: -10px;
}

.icon-input {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.icon-input input {
    width: 85%;
}

.w-fit-content {
    width: fit-content;
}

/**************/
/* LOGIN FORM */
/**************/

#login-form {
    padding: 37px 35px;
}

#login-form-title {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 21px;
    text-transform: uppercase;
    /* identical to box height */

    text-align: center;

    color: #545454;
}

#login-form #forgot-password {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 12px;
    line-height: 14px;
    /* identical to box height */

    text-decoration-line: underline;

    color: #232BF5;

}

#login-form #registration {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    /* identical to box height */

    text-align: center;
    text-decoration-line: underline;

    color: #232BF5;
}


/*********************/
/* REGISTRATION FORM */
/*********************/

#registration-form {
    padding: 37px 35px;
}

#registration-form-title {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 21px;
    /* identical to box height */

    text-align: center;

    color: #545454;
}

#registration-form .form-check {
    width: fit-content;
    display: inline-block;
}

#registration-form .privacy-policy-tip {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 10px;
    line-height: 12px;
    text-align: center;

    color: #CBCBCB;
}

#registration-form .privacy-policy-tip a {
    text-decoration-line: underline;
    color: #232BF5;
}

#registration-form .registration-description {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;
    text-align: center;

    color: #545454;
}

#registration-form #account-entry {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    /* identical to box height */

    text-align: center;
    text-decoration-line: underline;

    color: #232BF5;
}

/********************/
/* PERSONAL CABINET */
/********************/

#personal-cabinet {
    padding: 35px 20px;
    height: 100%;
}

#personal-cabinet-title {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 21px;
    text-transform: uppercase;
    /* identical to box height */

    text-align: center;

    color: #545454;

}

.personal-cabinet-email, .personal-cabinet-account-type {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;
    margin-bottom: 23px;

    color: #CBCBCB;
}

.personal-cabinet-navigation-path {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #CBCBCB;
    margin-top: 12px;
    padding-bottom: 14px;
}

.personal-cabinet-navigation-path p {
    margin-bottom: 0;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 16px;

    color: #545454;
}

.logout-link {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;
    text-align: right;
    text-decoration-line: underline;

    color: #FF5050;
}


/*************************/
/* PERSONAL CABINET DATA */
/*************************/

#personal-cabinet-data-form {
    padding: 20px;
}

#personal-cabinet-data-form label {
    font-family: 'Roboto',sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 10px;
    line-height: 12px;
    margin-bottom: 0;
    color: #CBCBCB;
}

#personal-cabinet-data-form input {
    padding-top: 0;
    padding-left: 8px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    /* identical to box height */


    color: #545454;
}

#personal-cabinet-data-form .investogram-ui-button-small {
    width: -webkit-fill-available;
    margin: 0 10px;
}


/*****************************/
/* PERSONAL CABINET PROJECTS */
/*****************************/

.personal-cabinet-projects-return-button {
    left: 13px;
}

#personal-cabinet-projects {
    padding: 20px;
    height: 100%;
    overflow: scroll;
}

#personal-cabinet-projects .investogram-ui-button-yellow,
#personal-cabinet-projects .investogram-ui-button-blue{
    width: 100%;
    font-size: 14px;
    line-height: 16px;
}

.create-project-action {
    padding-bottom: 30px;
    border-bottom: 0.5px solid #CBCBCB;
}

#personal-cabinet-projects .existed-project {
    margin-top: 20px;
    padding-bottom: 18px;
    border-bottom: 0.5px solid #CBCBCB;
}

.project-info {
    margin-bottom: 20px;
}

.project-info p{
    font-family: 'Roboto', sans-serif;
}

.project-title {
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;
    display: flex;
    align-items: center;
    margin-bottom: 0;

    color: #545454;
}

.project-title i {
    margin-right: 10px;
}

.project-publication-date, .project-views-count, .project-lock-count, .project-edit-link {
    font-style: normal;
    font-weight: normal;
    font-size: 10px;
    line-height: 12px;
    display: flex;
    align-items: center;
    margin-bottom: 0;
    /* identical to box height */


    color: #CBCBCB;
}

.project-edit-link {
    text-decoration-line: underline;
}

/*****************************/
/* PERSONAL CABINET CONTACTS */
/*****************************/

.personal-cabinet-contacts-return-button {
    left: 13px;
}

#personal-cabinet-contacts {
    padding: 20px;
    height: 100%;
    overflow: scroll;
}

.contact-list {
    width: 100%;
}

.contact-block {
    padding-top: 17px;
    padding-bottom: 15px;
    border-bottom: 0.5px solid #CBCBCB;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.contact-list p {
    margin-bottom: 0;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 10px;
    line-height: 12px;
}

.contact-title {
    text-decoration-line: underline;

    color: #545454;
}

.contact-date {
    color: #CBCBCB;
}

/***************/
/* ADD PROJECT */
/***************/


#add-project {
    padding: 25px 20px;
    height: 100%;
    overflow: scroll;
}

#add-project-title {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 23px;
    text-align: center;

    color: #545454;
    margin-bottom: 20px;
}

.add-project-description {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;
    text-align: center;

    color: #545454;
}

#add-project form .form-group.mb-4 label {
    position: relative;
}

#description-char-count {
    font-style: italic;
    font-size: 10px;
    line-height: 12px;
    /* identical to box height */


    color: #CBCBCB;
}

#add-project-description {
    padding-right: 10%;
}


#add-project .investogram-ui-button-yellow {
    width: 100%;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    align-items: center;
    text-align: center;

    color: #FFFFFF !important;
}


/*************/
/* ADD OFFER */
/*************/

#add-offer {
    padding: 25px 20px;
    height: 100%;
    overflow: scroll;
}

#add-offer-title {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 23px;
    text-align: center;

    color: #545454;
    margin-bottom: 20px;
}

.add-offer-description {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;
    text-align: center;

    color: #545454;
}

#add-offer form .form-group.mb-4 label {
    position: relative;
}

#add-offer .investinder-chekbox label {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    padding-left: 5px;

    color: #545454;
}

#add-offer form button {
    width: 100%;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;

    color: #FFFFFF;
}

.add-offer-button-description {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    text-align: center;

    color: #AFAFAF;
}

/*****************/
/* FIND INVESTOR */
/*****************/

#find-investor {
    height: 100%;
}

.find-investor-header {
    padding: 20px;
    background: #FFFFFF;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.find-investor-count, .find-investor-filter-text {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 16px;
    margin-bottom: 0;

    color: #545454;

}


.find-investor-filter-text {
    margin-right: 10px;
}

.investinder-info-card-layout {
    width: 100%;
    height: calc(100% - 59px);
    display: flex;
    flex-flow: column;
}

.investinder-info-card {
    background: #FAFAFA;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    margin: 20px 15px;
    height: 100%;
}
